# Project specific exclude
tomcat

#log dir
/logs
/log
/*/logs
/*/log

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
*.war
*.ear
*.sar

# Maven
target/

# IntelliJ project files
*.iml
*.iws
*.ipr
.idea/

# eclipse project file
.settings/
.classpath
.project

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml


# OS
.DS_Store

# Misc
*.swp

#rebel
rebel.xml
/uranus-common/src/main/agent/logs/
uranus-actuator-server/src/test/
uranus-api-gateway-server/src/main/java/me/wgy/filter/
uranus-api-gateway-server/src/main/java/me/wgy/model/
uranus-api-gateway-server/src/main/java/me/wgy/route/
uranus-api-gateway-server/src/test/
uranus-auth-server/src/main/docker/
uranus-auth-server/src/test/
uranus-common/src/main/java/me/wgy/annotation/
uranus-common/src/main/resources/
uranus-common/src/test/
uranus-discovery-server/src/test/
